extends layout

block content
  h1(style='color: #ffd700;') ScreenChronicle

  h2 Watched
  if watched && watched.length > 0
    each m in watched   
      .media-card(style='border: 1px solid #ffd700; text-align: center; padding: 10px; margin: 10px; border-radius: 25px; display: inline-block; width: 22%;')
        img(style="padding-top: 20px;" src=m.poster, alt='poster')
        h3
          a(href=`/media/${m._id}`, style='color: #ffd700; text-decoration: none;') #{m.title}
  else 
    div(style='border: 1px solid #ffd700; text-align: center; padding: 10px; margin: 10px;')
      h3(style='color: #ffd700;') Nothing here

  h2 Watching
  if watching && watching.length > 0
    each m in watching 
      .media-card(style='border: 1px solid #ffd700; text-align: center; padding: 10px; margin: 10px; border-radius: 25px; display: inline-block; width: 22%;')
        img(style="padding-top: 20px;" src=m.poster, alt='poster')
        h3
          a(href=`/media/${m._id}`, style='color: #ffd700; text-decoration: none;') #{m.title}
  else 
    div(style='border: 1px solid #ffd700; text-align: center; padding: 10px; margin: 10px;')
      h3(style='color: #ffd700;') Nothing here

  h2 Plan To Watch
  if plantowatch && plantowatch.length > 0
    each m in plantowatch  
      .media-card(style='border: 1px solid #ffd700; text-align: center; padding: 10px; margin: 10px; border-radius: 25px; display: inline-block; width: 22%;')
        img(style="padding-top: 20px;" src=m.poster, alt='poster')
        h3
          a(href=`/media/${m._id}`, style='color: #ffd700; text-decoration: none;') #{m.title}
  else 
    div(style='border: 1px solid #ffd700; text-align: center; padding: 10px; margin: 10px;')
      h3(style='color: #ffd700;') Nothing here
