extends layout

block content
  .container
    h1 #{media.title}
    h3 #{media.release_date}
    p #{media.description}

    if status != 'watched'
      a(href = `/media/${media._id}/add/watched`) Watched 
    else
      p Watched
    br
    if status != 'watching'
      a(href = `/media/${media._id}/add/watching`) Watching 
    else 
      p Watching
    br
    if status != 'plantowatch'
      a(href= `/media/${media._id}/add/plantowatch`) Plan To Watch
    else 
      p Plan To Watch
    br
    if status != null
      a(href= `/media/${media._id}/remove`) Remove
    br
